.nav{
	&_list{
		padding-top: 13px;
		float: right;
	}
	&_item{
		position: relative;
		display: inline-block;
		padding: 0 15px 65px;
		margin: 0 10px;
	}
	&_link{
		color: #a6a6a6;
		font-family: $open_sans;
		font-size: 14px;
		&.active{
			color: #747474;
			font-weight: 600;
		}
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 3px;
			left: 0;
			bottom: 0;
			background-color: #33d6ff;
			transition: 0.3s;
		}
		&:hover:after{
			width: 100%;
		}
	}
}